body {
    
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

}

#button-container {
    width: 70vh;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(61, 61, 61);
}

#reset-button {
    font-size: 40px;
}

#main-container {
    display: grid;
    
    width: 70vh;
    height: 70vh;

    background-color: white;
}
